<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vip.mystery0.xhu.timetable">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/JetpackSplashTheme">

        <activity
            android:name=".ui.activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SplashImageActivity"
            android:exported="true"
            android:theme="@style/Theme.XhuTimetable.NoActionBar.Immersive" />
        <activity
            android:name=".ui.activity.ErrorReportActivity"
            android:exported="true"
            android:process=":error_activity"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.XhuTimetable.NoActionBar.Immersive" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.NoticeActivity"
            android:exported="true"
            android:label="@string/title_activity_notice"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.ExamActivity"
            android:exported="true"
            android:label="@string/title_activity_exam"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.ScoreActivity"
            android:exported="true"
            android:label="@string/title_activity_score"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.ExpScoreActivity"
            android:exported="true"
            android:label="@string/title_activity_exp_score"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.AccountSettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings_account_management"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.ClassSettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings_class"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.CustomCourseColorActivity"
            android:exported="true"
            android:label="@string/title_activity_settings_course_color"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:exported="true"
            android:label="@string/title_activity_feedback"
            android:theme="@style/Theme.XhuTimetable.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.SchoolCalendarActivity"
            android:exported="true"
            android:label="@string/title_activity_school_calendar"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.CustomCourseActivity"
            android:exported="true"
            android:label="@string/title_activity_custom_course"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.CustomThingActivity"
            android:exported="true"
            android:label="@string/title_activity_custom_thing"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.CourseRoomActivity"
            android:exported="true"
            android:label="@string/title_activity_course_room"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.BackgroundActivity"
            android:exported="true"
            android:label="@string/title_activity_background"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.ExportCalendarActivity"
            android:exported="true"
            android:label="@string/title_activity_export_calendar"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.UrgeActivity"
            android:exported="true"
            android:label="@string/title_activity_urge"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.CustomUiActivity"
            android:exported="true"
            android:label="@string/title_activity_ui"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />
        <activity
            android:name=".ui.activity.AcademicReportActivity"
            android:exported="true"
            android:label="@string/title_activity_academic_report"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.XhuTimetable.NoActionBar" />

        <service android:name=".work.NotifyService" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".ui.widget.receiver.TodayGlanceWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- 小部件配置信息 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_glance_widget_info" />
        </receiver>
    </application>

</manifest>