<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>JPUSH_APPKEY</key>
	<string>$(JPUSH_APPKEY)</string>
	<key>JPUSH_CHANNEL</key>
	<string>$(JPUSH_CHANNEL)</string>
</dict>
</plist>
